
<!-- category-section -->
<div class="container p-2 ">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0   w-75 m-auto d-flex justify-content-around">
            <li class="nav-item">
              
              <a class="nav-link active" aria-current="page"> 
              <img src="../../../../assets/image/doctor.jpg" class="m-auto" height="60" width="60">
            <h6>Talk To Doctor</h6></a>
        
            </li>
            <li class="nav-item">
              
              <a class="nav-link active" aria-current="page" routerLink="/medicine"    > 
              <img src="../../../../assets/image/medicines.jpg" class="m-auto" height="60" width="60">
            <h6>Medicine</h6></a>
        
            </li>
            <li class="nav-item">
              
              <a class="nav-link active" aria-current="page"> 
              <img src="../../../../assets/image/surgery.jpg" class="m-auto" height="60" width="60">
            <h6>Surgery</h6></a>
        
            </li>
            <li class="nav-item">
              
              <a class="nav-link active" aria-current="page"> 
              <img src="../../../../assets/image/labtest.jpg" class="m-auto" height="60" width="60">
            <h6>lab Test & Packages</h6></a>
        
            </li>
            <li class="nav-item">
              
                <a class="nav-link active" aria-current="page"> 
                <img src="../../../../assets/image/insurance.jpg" class="m-auto" height="60" width="60">
              <h6>Insurance</h6></a>
          
              </li>
              <li class="nav-item">
              
                <a class="nav-link active" aria-current="page"> 
                <img src="../../../../assets/image/insurance.jpg" class="m-auto " height="60" width="60">
              <h6>Insurance</h6></a>
          
              </li>
            
  
          
          </ul>
  
        </div>
      </div>
    </nav>
  </div>
  <!-- Consult with Doctor -->

  <div class="container shadow p-3 mt-2 w-75 border rounded-pill ">
    <div class="d-flex justify-content-around">
        <h4 class="mt-1">
            Consult with Top Doctors Online, 24x7</h4>
        <p class="border rounded-pill p-3 px-5 mt-1">
            Start Consult
        </p>
    </div>
  </div>
  <!--  -->
  <div class="container mt-1 py-4">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://views.medibuddy.in/websiteBanners/websitecustomer_banner.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://mb-meds-assets.medibuddy.in/banners/OTC-Store/upkarnaWebHomePage.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://views.medibuddy.in/homePageBanners/EaseBannerWeb.webp" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://views.medibuddy.in/homePageBanners/diagonistic_centers.png" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
  </div>

<div class="conatiner mt-2 py-1 shadow border border-4 ">
   <img src="https://views.medibuddy.in/dynamic-banner/medibuddyHomeFirstFoldWebABHA.svg" alt="">
</div>
<!--  -->

<div class="container border border-3 mt-4 p-2">
  <div class="row">
    <div class="col-md-6 ms-2">
      <h5>Medibuddy Gold</h5>
      <h4>Give The Care Of Family Deserve</h4>
      <p class="fs-5 fw-bold "    >Unlimited Consultations with top Doctors for 6 family members in 22+ specialities and 16 languages</p>
      <!-- <p class="btn btn-primary px-5" type="button">Button</p> -->
      <p class="mt-4"><span class="p-2 px-4  border py-2 rounded-pill ">Buy Medibuddy Gold</span></p>
    </div>
    <div class="col-md-5">
      <div class="row ">
      <div class="col-md-5">
        <div class="card px-2" style="width: 16rem;">
        
            <img src="https://www.medibuddy.in/assets/services/mb-gold/unlimited-consultations.svg" class="card-img-top border m-2 " alt="..." height="126"  width="126">
          
        
        <div class="card-body">
          <h5 class="card-title">Unlimited Free Consultations</h5>
          <p class="card-text">Get unlimited free consultations with all doctors 24x7</p>

        </div>
      </div></div>   
       
      <div class="col-md-5"></div>
      <div class="col-md-5"></div>
      <div class="col-md-5"></div>
      </div>
    </div>
  </div>
</div>