<div class="row m-auto shadow-sm  text-light mb-2">
<div class="col-md-4 text-center p-2 fs-5 fw-bold">
<a  class="text-decoration-none cursor">Medlab</a>
</div>
<div class="col-md-6 text-end p-2 fs-6 fw-bold ">
   <a class=" text-decoration-none mx-2 cursor">About Us</a> 
   <a class=" text-decoration-none mx-2 cursor"data-bs-toggle="modal" data-bs-target="#loginModal">Login</a>
</div>
</div>


<!-- modal -->
<!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <app-login *ngIf="action == 'Login'"></app-login>
            <app-signup  *ngIf="action == 'SignUp'"></app-signup>
        </div>
        <div class="modal-footer">
        </div>
         <div class="d-grid gap-2 px-4 mb-1">
         
          <button type="button" class="btn btn-primary" *ngIf="action == 'Login'" type="button" (click)="triggerAction('SignUp')">Sign Up</button>
          <button type="button" class="btn btn-primary"  *ngIf="action == 'SignUp'" type="button" (click)="triggerAction('Login')">Login</button>
        </div>
       
      </div>
    </div>
  </div>